<h1>Index</h1>

<div ng-if="!currentUser">
  <form ng-controller="LoginCtrl as loginCtrl">
    <button ng-click="loginCtrl.login('facebook')">Facebook</button>
  </form>
</div>

<div ng-if="currentUser" ng-controller="PostCtrl as postCtrl" class="entry-form">
<!--   <h3>Velkommen {{currentUser.first_name}}</h3> -->
    <form ng-submit="postCtrl.post(urlFetchingCtrl.entry)">
      <input type="text" placeholder="URL" ng-keyup="urlFetchingCtrl.fetchUrl(urlFetchingCtrl.entry.url)" ng-model="urlFetchingCtrl.entry.url" />
      <div class="entry-form-inner" ng-if="urlFetchingCtrl.entry.url">

        <div class="image">
          <img ng-src="{{urlFetchingCtrl.entry.image}}" alt="{{urlFetchingCtrl.entry.title}}">

          <input type="file" accept="image/*" capture="camera" onchange="angular.element(this).urlFetchingCtrl.filesSelected(event)" />

        </div>
        <input type="text" placeholder="Title" ng-model="urlFetchingCtrl.entry.title" />
        <textarea placeholder="Description" ng-model="urlFetchingCtrl.entry.description"></textarea>
        <input type="submit" value="Post">
      </div>
    </form>
  </div>
</div>

<section ng-controller="ListCtrl as listCtrl">
  <ul ng-if="listCtrl.list.length">
    <li ng-repeat="item in listCtrl.list" class="item" packery>
      <a href="{{item.url}}" target="_blank">
        <img ng-src="{{item.image}}" alt="{{item.title}}">
        <h2>{{item.title}}</h2>
        <p>{{item.description}}</p>
      </a>
    </li>
  </ul>
  <span ng-if="!listCtrl.list.length">Ingen innlegg</span>
</section>